<header>
    <nav>
        <a href="/">Mybrary</a>
          <ul>
            <li><a href="/recettes">Recettes</a></li>
            <li><a href="/recettes/new">Ajouter une recettes</a></li>
          </ul>
    </nav>
</header>